<div class="page-header pb-10 page-header-dark bg-primary">
    <div class="container-fluid">
        <div class="page-header-content">
            <h1 class="page-header-title">
                <div class="page-header-icon"><i class="fas fa-calendar"></i></div>
                <span>Timesheets</span>
                <div class="btn btn-success ml-5" style="text-align: right; justify-content: right;">
                    + Add new Timesheet
                </div>
            </h1>
            <div class="page-header-subtitle">Your Timesheets!</div>
        </div>
    </div>
</div>
<div class="container-fluid mt-n10">
    <div class="row">
        <div class="col-sm-4">
            <div class="card mb-4 lift">
                <div class="card-header">
                    <div class="col-sm">
                        <div class="row">
                            <div class="col">
                                <h1>Styczeń 2022</h1>
                            </div>
                            <div class="col" style="text-align: right; justify-content: right;">
                                <div class="btn btn-outline-success" style="text-align: right; justify-content: right;">
                                    Approved
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row" style="text-align: center; justify-content: center;">
                        <div class="btn btn-primary" style="text-align: center; justify-content: center;">
                            Details
                        </div>
                        <div class="btn btn-success ml-3" style="text-align: center; justify-content: center;">
                            160h Repored
                        </div>                          
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card mb-4 lift">
                <div class="card-header">
                    <div class="col-sm">
                        <div class="row">
                            <div class="col">
                                <h1>Styczeń 2022</h1>
                            </div>
                            <div class="col" style="text-align: right; justify-content: right;">
                                <div class="btn btn-outline-success" style="text-align: right; justify-content: right;">
                                    Approved
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row" style="text-align: center; justify-content: center;">
                        <div class="btn btn-primary" style="text-align: center; justify-content: center;">
                            Details
                        </div>
                        <div class="btn btn-success ml-3" style="text-align: center; justify-content: center;">
                            160h Repored
                        </div>                          
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card mb-4 lift">
                <div class="card-header">
                    <div class="col-sm">
                        <div class="row">
                            <div class="col">
                                <h1>Styczeń 2022</h1>
                            </div>
                            <div class="col" style="text-align: right; justify-content: right;">
                                <div class="btn btn-outline-success" style="text-align: right; justify-content: right;">
                                    Approved
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row" style="text-align: center; justify-content: center;">
                        <div class="btn btn-primary" style="text-align: center; justify-content: center;">
                            Details
                        </div>
                        <div class="btn btn-success ml-3" style="text-align: center; justify-content: center;">
                            160h Repored
                        </div>                          
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card mb-4 lift">
                <div class="card-header">
                    <div class="col-sm">
                        <div class="row">
                            <div class="col">
                                <h1>Styczeń 2022</h1>
                            </div>
                            <div class="col" style="text-align: right; justify-content: right;">
                                <div class="btn btn-outline-success" style="text-align: right; justify-content: right;">
                                    Approved
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row" style="text-align: center; justify-content: center;">
                        <div class="btn btn-primary" style="text-align: center; justify-content: center;">
                            Details
                        </div>
                        <div class="btn btn-success ml-3" style="text-align: center; justify-content: center;">
                            160h Repored
                        </div>                          
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card mb-4 lift">
                <div class="card-header">
                    <div class="col-sm">
                        <div class="row">
                            <div class="col">
                                <h1>Styczeń 2022</h1>
                            </div>
                            <div class="col" style="text-align: right; justify-content: right;">
                                <div class="btn btn-outline-success" style="text-align: right; justify-content: right;">
                                    Approved
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row" style="text-align: center; justify-content: center;">
                        <div class="btn btn-primary" style="text-align: center; justify-content: center;">
                            Details
                        </div>
                        <div class="btn btn-success ml-3" style="text-align: center; justify-content: center;">
                            160h Repored
                        </div>                          
                    </div>
                </div>
            </div>
        </div>
        <!-- <ag-grid-angular
            style="width: 500px; height: 350px;"
            [rowData]="rowData"
            [columnDefs]="columnDefs">
        </ag-grid-angular> -->
    </div>
    
</div>

