<div class="page-header pb-10 page-header-dark bg-primary">
    <div class="container-fluid">
        <div class="page-header-content">
            <h1 class="page-header-title">
                <div class="page-header-icon"><i class="far fa-life-ring"></i></div>
                <span>Support</span>
            </h1>
            <div class="page-header-subtitle">Here are some answers to some commonly asked questions</div>
        </div>
    </div>
</div>
<section class="bg-light py-10">
    <div class="container">
        <div class="d-flex align-items-center mb-5">
            <div class="icon-stack icon-stack-lg bg-primary text-white"><i class="fas fa-user"></i></div>
            <div class="ml-3">
                <h2 class="mb-0">Account</h2>
            </div>
        </div>
        <div class="accordion accordion-faq mb-5" id="authAccordion">
            <div class="card border-bottom">
                <div class="card-body">
                    <div class="accordion-faq-title">
                        <div class="mr-2">
                            <h4 class="mb-0">Authentication issues</h4>
                            <p class="card-text text-gray-500">Issues related to logging in, registering a new account, and setting your account password</p>
                        </div>
                        <div class="badge badge-success-soft badge-pill text-success">3 Answers</div>
                    </div>
                </div>
            </div>
            <div class="card accordion-faq-item">
                <a class="card-header" id="authHeadingOne" data-toggle="collapse" data-target="#authCollapseOne" aria-expanded="true" aria-controls="authCollapseOne" href="javascript:void(0);"
                    ><div class="accordion-faq-item-heading">I can't remember my account email address.<i class="accordion-faq-item-heading-arrow" data-feather="chevron-down"></i></div
                ></a>
                <div class="collapse" id="authCollapseOne" aria-labelledby="authHeadingOne" data-parent="#authAccordion"><div class="card-body border-bottom">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div></div>
            </div>
            <div class="card accordion-faq-item">
                <a class="card-header collapsed" id="authHeadingTwo" data-toggle="collapse" data-target="#authCollapseTwo" aria-expanded="true" aria-controls="authCollapseTwo" href="javascript:void(0);"
                    ><div class="accordion-faq-item-heading">Why doesn't my password work?<i class="accordion-faq-item-heading-arrow" data-feather="chevron-down"></i></div
                ></a>
                <div class="collapse" id="authCollapseTwo" aria-labelledby="authHeadingTwo" data-parent="#authAccordion"><div class="card-body border-bottom">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div></div>
            </div>
            <div class="card accordion-faq-item">
                <a class="card-header collapsed" id="authHeadingThree" data-toggle="collapse" data-target="#authCollapseThree" aria-expanded="true" aria-controls="authCollapseThree" href="javascript:void(0);"
                    ><div class="accordion-faq-item-heading">Why do I keep getting logged out of my account?<i class="accordion-faq-item-heading-arrow" data-feather="chevron-down"></i></div
                ></a>
                <div class="collapse" id="authCollapseThree" aria-labelledby="authHeadingThree" data-parent="#authAccordion"><div class="card-body border-bottom">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div></div>
            </div>
        </div>
        <div class="d-flex align-items-center mb-5">
            <div class="icon-stack icon-stack-lg bg-green text-white"><i class="fas fa-coins"></i></div>
            <div class="ml-3">
                <h2 class="mb-0">Billing</h2>
            </div>
        </div>
        <div class="accordion accordion-faq mb-5" id="authAccordion">
            <div class="card border-bottom">
                <div class="card-body">
                    <div class="accordion-faq-title">
                        <div class="mr-2">
                            <h4 class="mb-0">Billing questions</h4>
                            <p class="card-text text-gray-500">Questions related to billing, monthly costs, etc.</p>
                        </div>
                        <div class="badge badge-success-soft badge-pill text-success">3 Answers</div>
                    </div>
                </div>
            </div>
            <div class="card accordion-faq-item">
                <a class="card-header" id="authHeadingFourth" data-toggle="collapse" data-target="#authCollapseFourth" aria-expanded="true" aria-controls="authCollapseFourth" href="javascript:void(0);"
                    ><div class="accordion-faq-item-heading">Why is it free?<i class="accordion-faq-item-heading-arrow" data-feather="chevron-down"></i></div
                ></a>
                <div class="collapse" id="authCollapseFourth" aria-labelledby="authCollapseFourth" data-parent="#authAccordion"><div class="card-body border-bottom">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div></div>
            </div>
            <div class="card accordion-faq-item">
                <a class="card-header collapsed" id="authHeadingFifth" data-toggle="collapse" data-target="#authCollapseFifth" aria-expanded="true" aria-controls="authCollapseFifth" href="javascript:void(0);"
                    ><div class="accordion-faq-item-heading">What features I gain from upgrading my billing plan?<i class="accordion-faq-item-heading-arrow" data-feather="chevron-down"></i></div
                ></a>
                <div class="collapse" id="authCollapseFifth" aria-labelledby="authCollapseFifth" data-parent="#authAccordion"><div class="card-body border-bottom">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div></div>
            </div>
            <div class="card accordion-faq-item">
                <a class="card-header collapsed" id="authHeadingSix" data-toggle="collapse" data-target="#authCollapseSix" aria-expanded="true" aria-controls="authCollapseSix" href="javascript:void(0);"
                    ><div class="accordion-faq-item-heading">What do you have in store for my company?<i class="accordion-faq-item-heading-arrow" data-feather="chevron-down"></i></div
                ></a>
                <div class="collapse" id="authCollapseSix" aria-labelledby="authCollapseSix" data-parent="#authAccordion"><div class="card-body border-bottom">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div></div>
            </div>
        </div>
        <div class="d-flex align-items-center mb-5">
            <div class="icon-stack icon-stack-lg bg-purple text-white"><i class="fas fa-code"></i></div>
            <div class="ml-3">
                <h2 class="mb-0">Integrations</h2>
            </div>
        </div>
        <div class="accordion accordion-faq mb-5" id="authAccordion">
            <div class="card border-bottom">
                <div class="card-body">
                    <div class="accordion-faq-title">
                        <div class="mr-2">
                            <h4 class="mb-0">Integration questions</h4>
                            <p class="card-text text-gray-500">Questions related to 3rd party app integration into our app.</p>
                        </div>
                        <div class="badge badge-success-soft badge-pill text-success">3 Answers</div>
                    </div>
                </div>
            </div>
            <div class="card accordion-faq-item">
                <a class="card-header" id="authHeadingSeventh" data-toggle="collapse" data-target="#authCollapseSeventh" aria-expanded="true" aria-controls="authCollapseSeventh" href="javascript:void(0);"
                    ><div class="accordion-faq-item-heading">Do you have "X" integration currently available?<i class="accordion-faq-item-heading-arrow" data-feather="chevron-down"></i></div
                ></a>
                <div class="collapse" id="authCollapseSeventh" aria-labelledby="authCollapseSeventh" data-parent="#authAccordion"><div class="card-body border-bottom">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div></div>
            </div>
            <div class="card accordion-faq-item">
                <a class="card-header collapsed" id="authHeadingEight" data-toggle="collapse" data-target="#authCollapseEight" aria-expanded="true" aria-controls="authCollapseEight" href="javascript:void(0);"
                    ><div class="accordion-faq-item-heading">When do you plan to implement "Y" Integration?<i class="accordion-faq-item-heading-arrow" data-feather="chevron-down"></i></div
                ></a>
                <div class="collapse" id="authCollapseEight" aria-labelledby="authCollapseEight" data-parent="#authAccordion"><div class="card-body border-bottom">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div></div>
            </div>
            <div class="card accordion-faq-item">
                <a class="card-header collapsed" id="authHeadingNinth" data-toggle="collapse" data-target="#authCollapseNinth" aria-expanded="true" aria-controls="authCollapseNinth" href="javascript:void(0);"
                    ><div class="accordion-faq-item-heading">How can we make integration, with our corporate systems?<i class="accordion-faq-item-heading-arrow" data-feather="chevron-down"></i></div
                ></a>
                <div class="collapse" id="authCollapseNinth" aria-labelledby="authCollapseNinth" data-parent="#authAccordion"><div class="card-body border-bottom">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div></div>
            </div>
        </div>
        <div class="d-flex align-items-center mb-5">
            <div class="icon-stack icon-stack-lg bg-info text-white"><i class="fas fa-question-circle"></i></div>
            <div class="ml-3">
                <h2 class="mb-0">Any more questions?</h2>
            </div>
        </div>
        <div class="accordion accordion-faq mb-5" id="authAccordion">
            <div class="card border-bottom">
                <div class="card-body">
                    <div class="accordion-faq-title">
                        <div class="mr-2">
                            <h4 class="mb-0">Click on chat icon to open chat with our agent.</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
        

        
        
<a id="bottom-right-corner" href="javascript:void(Tawk_API.toggle())"> 
    <button class="btn btn-outline-blue btn-chat" type="button">
        <i class="fas fa-comment-dots"></i>
    </button> 
</a>



