<div class="page-header pb-10 page-header-dark bg-primary">
    <div class="container-fluid">
        <div class="page-header-content">
            <h1 class="page-header-title">
                <div class="page-header-icon"><i class="fas fa-clipboard-check"></i></div>
                <span>Timesheets</span>
            </h1>
            <div class="page-header-subtitle">Timesheets that required your attention!</div>
        </div>
    </div>
</div>
<ngx-spinner bdOpacity=0.5 bdColor="rgba(51,51,51,0.85)" size="medium" color="#fff" type="line-scale" [fullScreen]="true">
    <p style="color: white"> Openning connection to our database... </p>
</ngx-spinner>
<div class="container-fluid mt-n10">
        <div class="card card-header-actions mb-2 lift" *ngFor="let timesheet of timesheetList, let i = index">
            <div class="card-header" [routerLink]="['/timesheet-review', timesheet.timesheetID]">
                <h1 class="mt-2">{{mapMonth(timesheet.month)}} {{timesheet.year}} - {{users[i]?.firstName ?? ''}} {{users[i]?.lastName ?? ''}}</h1>
                <div style="text-align: right; justify-content: right; display:inline-block;">
                    <button disabled class="btn btn-success mr-3" style="text-align: right; justify-content: right; display:inline-block;">
                        {{mapTotalHours(timesheet.timesheetDetails)}}h Reported
                    </button>  
                    <button disabled [ngClass]="timesheet.timesheetStatus == 'A' ? 'btn btn-success' :  
                        timesheet.timesheetStatus == 'P' ?
                        'btn btn-secondary' :
                        timesheet.timesheetStatus == 'D' ?
                        'btn btn-warning' :
                        'btn btn-danger'" style="display:inline-block;">
                        {{mapStatus(timesheet.timesheetStatus)}}
                    </button>
                </div>
            </div>
        </div>
</div>
