<div class="page-header pb-10 page-header-dark bg-primary">
    <div class="container-fluid">
        <div class="page-header-content">
            <h1 class="page-header-title">
                <div class="page-header-icon"><i class="far fa-comments"></i></div>
                <span>Chat</span>
            </h1>
            <div class="page-header-subtitle">Say Hi!</div>
        </div>
    </div>
</div>
<div class="container-fluid mt-n10">        
    <div class="card-deck">
        <div class="card mb-4">
            <div class="card-body">
                <h1>ChatBox</h1>
                <div class="messaging">  
                <div class="inbox_msg">  
                    <div class="mesgs">  
                    <div class="msg_history">  
                        <div *ngFor="let msg of messages">  
                        <div class="incoming_msg" *ngIf="msg.type == 'received'">  
                        <div class="incoming_msg_img"> </div>  
                        <div class="received_msg">  
                            <div class="received_withd_msg">
                            <button class="btn btn-light rounded-pill" id="dropdownFadeIn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="float: left;">
                                {{ msg.message }}   
                            </button>
                            <div class="dropdown-menu animated--fade-in" aria-labelledby="dropdownFadeIn">
                                <a class="dropdown-item" href="javascript:void(0);">{{ msg.date | date:'medium' }}</a>
                            </div>
                            </div>
                            <br>
                            <br>
                        </div>  
                        </div>  
                        <div class="outgoing_msg" *ngIf="msg.type == 'sent'">  
                        <div class="sent_msg">
                            <button class="btn btn-blue rounded-pill" id="dropdownFadeIn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="float: right;">
                                {{ msg.message }}   
                            </button>
                            <div class="dropdown-menu animated--fade-in" aria-labelledby="dropdownFadeIn">
                                <a class="dropdown-item" href="javascript:void(0);">{{ msg.date | date:'medium' }}</a>
                            </div>
                        </div>
                        <br>
                        <br>
                        </div> 
                    </div>  
                    </div>
                    <br>
                    <div class="form-inline">  
                        <div class="form-group mb-2">  
                        <input type="text" class="form-control rounded-0" style="width: 1543px;" [value]="txtMessage"  
                        (input)="txtMessage=$event.target.value" (keydown.enter)="sendMessage()" placeholder="Type a message" />  
                        <button class="btn btn-primary btn-message rounded-0" type="button" (click)="sendMessage()"><i class="far fa-comments"></i></button>  
                        </div>  
                    </div>  
                    </div>  
                </div>  
                </div>  
            </div>
        </div>
    </div>
</div>

