<div class="page-header pb-10 page-header-dark bg-primary">
    <div class="container-fluid">
        <div class="page-header-content">
            <h1 class="page-header-title">
                <div class="page-header-icon"><i class="far fa-id-card"></i></div>
                <span>Contact</span>
            </h1>
            <div class="page-header-subtitle">Have questions? We're here to help you!</div>
        </div>
    </div>
</div>
<section class="bg-light py-10" style="margin-top: 5%; margin-left: 5%; margin-right: 5%;">
<div class="container-fluid mt-n10">        
    <div class="card-deck">
        <div class="card mb-4 lift">
            <div class="card-body">
                <div class="tab-content" id="cardPillContent">
                    <div class="tab-pane fade show active" id="overviewPill" role="tabpanel" aria-labelledby="overview-pill">
                        <div class="row" style="text-align: center; justify-content: center; margin-bottom: 5%;">
                            <div class="icon-stack icon-stack-lg bg-primary text-white"><i class="fas fa-bug"></i></div>
                        </div>
                        <div class="row" style="text-align: center; justify-content: center;">
                        <h3 class="card-title">Report Bug</h3>
                        </div>
                        <div class="row" style="text-align: center; justify-content: center; margin: 1%">
                        <p class="card-text">Found a bug or have idea how to improve Work-Flow? Contact us!</p>
                        </div>
                        <div class="row" style="text-align: center; justify-content: center; margin-top: 10%">
                            <ul class="nav nav-pills card-header-pills" id="cardPill" role="tablist">
                                <li class="nav-item"><a class="nav-link active" id="overview-pill" href="#overviewPill" data-toggle="tab" role="tab" aria-controls="overview" aria-selected="true">Report Bug</a></li>
                            </ul>                       
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-4 lift">
            <div class="card-body">
                <div class="tab-content" id="cardPillContent">
                    <div class="tab-pane fade show active" id="overviewPill" role="tabpanel" aria-labelledby="overview-pill">
                        <div class="row" style="text-align: center; justify-content: center; margin-bottom: 5%;">
                            <div class="icon-stack icon-stack-lg bg-primary text-white"><i class="far fa-life-ring"></i></div>
                        </div>
                        <div class="row" style="text-align: center; justify-content: center;">
                        <h3 class="card-title">Support</h3>
                        </div>
                        <div class="row" style="text-align: center; justify-content: center; margin: 1%">
                        <p class="card-text">Need help with Work-Flow website? Contact our Support Team!</p>
                        </div>
                        <div class="row" style="text-align: center; justify-content: center; margin-top: 10%">
                            <ul class="nav nav-pills card-header-pills" id="cardPill" role="tablist">
                                <li class="nav-item"><a class="nav-link active" id="overview-pill" href="#overviewPill" data-toggle="tab" role="tab" aria-controls="overview" aria-selected="true">Contact Support</a></li>
                            </ul>                       
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-4 lift">
            <div class="card-body">
                <div class="tab-content" id="cardPillContent">
                    <div class="tab-pane fade show active" id="overviewPill" role="tabpanel" aria-labelledby="overview-pill">
                        <div class="row" style="text-align: center; justify-content: center; margin-bottom: 5%;">
                            <div class="icon-stack icon-stack-lg bg-primary text-white"><i class="far fa-newspaper"></i></div>
                        </div>
                        <div class="row" style="text-align: center; justify-content: center;">
                        <h3 class="card-title">Contact Media</h3>
                        </div>
                        <div class="row" style="text-align: center; justify-content: center; margin: 1%">
                        <p class="card-text">Looking to contact our media team for a press release or related story?</p>
                        </div>
                        <div class="row" style="text-align: center; justify-content: center; margin-top: 10%">
                            <ul class="nav nav-pills card-header-pills" id="cardPill" role="tablist">
                                <li class="nav-item"><a class="nav-link active" id="overview-pill" href="#overviewPill" data-toggle="tab" role="tab" aria-controls="overview" aria-selected="true">Contact Media</a></li>
                            </ul>                       
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="text-align: center; justify-content: center; margin-top: 5%">
        <div class="col-sm" style="margin-left: 10%; margin-right: 10%">
          <h3>Check our FAQ</h3>
          <p>Have problem with Work-Flow functionality? <br>We described usual issues in <a href="./support">FAQ subpage!</a></p>
        </div>
        <div class="col-sm" style="margin-left: 10%; margin-right: 10%">
            <h3>General Support</h3>
            <p>Have another problem or could not decide? <br>Write to us on <a href="mailto:support@work-flow.ui">support@work-flow.ui</a></p>
        </div>
    </div>
    <hr class="col-xs-12" style="margin: 5%">
    <div class="row" style="text-align: center; justify-content: center; margin-top: 5%">
        <div class="col-sm" style="margin-left: 10%; margin-right: 10%">
            <h2>Check our Social Media profiles!</h2>
            <p>Want to be a part of awesome community and gain access to new functionality? Follow us!</p>
        </div>
    </div>    
    <div class="row" style="text-align: center; justify-content: center; margin-top: 2%; margin-left: 20%; margin-right: 20%">
        <div class="col-sm" >
            <i class="fab fa-facebook-square fa-4x"></i>
        </div>
        <div class="col-sm">
            <i class="fab fa-twitter-square fa-4x"></i>
        </div>
        <div class="col-sm">
            <i class="fab fa-linkedin fa-4x"></i>
        </div>
    </div>
</div>
</section>