<div id="layoutSidenav_nav">
    <nav class="sidenav shadow-right sidenav-light">
        <div class="sidenav-menu">
            <div class="nav accordion" id="accordionSidenav">
                <div class="sidenav-menu-heading">Core</div>
                <a class="nav-link collapsed" routerLink="/dashboard" data-toggle="collapse" data-target="#collapseDashboards" aria-expanded="false" aria-controls="collapseDashboards"
                    ><div class="nav-link-icon"><i class="fas fa-heartbeat"></i></div>
                    Dashboard
                </a>
                <a class="nav-link collapsed" routerLink="/projects-list" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts"
                    ><div class="nav-link-icon"><i class="fas fa-tasks"></i></div>
                    Projects
                </a>
                <div class="sidenav-menu-heading">Additional features</div>        
                <a class="nav-link collapsed" routerLink="/chat" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="false" aria-controls="collapseUtilities"
                    ><div class="nav-link-icon"><i class="far fa-comments"></i></div>
                    Chat
                </a>
                <div class="sidenav-menu-heading">About</div>
                <a class="nav-link collapsed" href="https://projektygrupowe.github.io/index.html"
                    ><div class="nav-link-icon"><i class="fas fa-book"></i></div>
                    Documentation
                </a>
                <a class="nav-link collapsed" routerLink="/contact" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="false" aria-controls="collapseUtilities"
                    ><div class="nav-link-icon"><i class="fas fa-phone-alt"></i></div>
                    Contact
                </a>
                <a class="nav-link collapsed" routerLink="/support" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="false" aria-controls="collapseUtilities"
                    ><div class="nav-link-icon"><i class="fas fa-terminal"></i></div>
                    Support
                </a>
            </div>
        </div>
    </nav>
</div>
