                <div class="page-header pb-10 page-header-dark bg-primary">
                    <div class="container-fluid">
                        <div class="page-header-content">
                            <h1 class="page-header-title">
                                <div class="page-header-icon"><i class="fas fa-heartbeat"></i></div>
                                <span>Dashboard</span>
                            </h1>
                            <div class="page-header-subtitle">Your personal dashboard</div>
                        </div>
                    </div>
                </div>
                <div style="position: relative;">
                    <ngx-spinner bdOpacity=0.5 bdColor="rgba(51,51,51,0.85)" size="medium" color="#fff" type="line-scale" [fullScreen]="true">
                        <p style="color: white"> Openning connection to our database... </p>
                    </ngx-spinner>
                </div>
                <div class="container-fluid mt-n10">
                    <div class="card mb-4">
                        <div class="card-header">
                            <ul class="nav nav-pills card-header-pills" id="cardPill" role="tablist">
                                <li class="nav-item"><a class="nav-link active" id="overview-pill" href="#overviewPill" data-toggle="tab" role="tab" aria-controls="overview" aria-selected="true">Projects</a></li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="tab-content" id="cardPillContent">
                                <div class="tab-pane fade show active" id="overviewPill" role="tabpanel" aria-labelledby="overview-pill">
                                    <div class="row">
                                        <button class="btn btn-outline-green" type="button" data-toggle="modal" data-target="#exampleModalCenter"><i class="fas fa-plus-circle"></i>&nbsp;&nbsp; Add project</button>
                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalCenterTitle">Add your project</h5>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form [formGroup]="projectForm" (ngSubmit)="createProject()">
                                                            <div class="form-group">
                                                                <label for="exampleFormControlInput1">Project name</label>
                                                                <input class="form-control" [(ngModel)]='title' type="text" [ngModelOptions]="{standalone: true}" required>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button class="btn btn-secondary" type="button" data-dismiss="modal" (click)="redirect()">Close</button>
                                                                <button class="btn btn-primary" type="submit">Save changes</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="activitiesPill" role="tabpanel" aria-labelledby="activities-pill">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-deck">
                        <div class="card mb-4">
                            <img class="card-img-top" src="assets/img/drawkit/color/drawkit-charts-and-graphs.svg" alt="..." />
                            <div class="card-body">
                                <h5 class="card-title text-primary">Interactive raports</h5>
                                <p class="card-text">You can export raports to PDF, Excel and more on the fly!</p>
                            </div>
                            <a class="card-footer d-flex align-items-center justify-content-between" routerLink="/projects-list">View projects<i class="fas fa-arrow-right"></i></a>
                        </div>
                        <div class="card mb-4">
                            <img class="card-img-top" src="assets/img/drawkit/color/drawkit-developer-woman.svg" alt="..." />
                            <div class="card-body">
                                <h5 class="card-title text-primary">Documentation</h5>
                                <p class="card-text">This app includes detailed documentation and usage instructions!</p>
                            </div>
                            <a class="card-footer d-flex align-items-center justify-content-between" href="https://projektygrupowe.github.io/index.html">View documentation<i class="fas fa-arrow-right"></i></a>
                        </div>
                        <div class="card mb-4">
                            <img class="card-img-top" src="assets/img/drawkit/color/drawkit-folder-man.svg" alt="..." />
                            <div class="card-body">
                                <h5 class="card-title text-primary">Extensive features</h5>
                                <p class="card-text">Live chat, live support, teams and more!</p>
                            </div>
                            <a class="card-footer d-flex align-items-center justify-content-between" href="#!">Explore pages<i class="fas fa-arrow-right"></i></a>
                        </div>
                        <div class="card mb-4">
                            <img class="card-img-top" src="assets/img/drawkit/color/drawkit-content-man.svg" alt="..." />
                            <div class="card-body">
                                <h5 class="card-title text-primary">Deep Customization</h5>
                                <p class="card-text">You can create your own layout that's tailor made for your own experience!</p>
                            </div>
                            <a class="card-footer d-flex align-items-center justify-content-between" href="#!">Learn more<i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>

