<div class="page-header pb-10 page-header-dark bg-primary">
    <div class="container-fluid">
        <div class="page-header-content">
            <h1 class="page-header-title">
                <div class="page-header-icon"><i class="fas fa-user"></i></div>
                <span>User Profile</span>
            </h1>
            <div class="page-header-subtitle">Your personal details</div>
        </div>
    </div>
</div>
<ngx-spinner bdOpacity=0.5 bdColor="rgba(51,51,51,0.85)" size="medium" color="#fff" type="line-scale" [fullScreen]="true">
    <p style="color: white"> Updating user... </p>
</ngx-spinner>
<div class="container mt-n10">        
        <div class="card-deck">
            <div class="card mb-4">
                <div class="card-header">
                    <ul class="nav nav-pills card-header-pills" id="cardPill" role="tablist">
                        <li class="nav-item"><a class="nav-link active" id="overview-pill" href="#overviewPill" data-toggle="tab" role="tab" aria-controls="overview" aria-selected="true">User details</a></li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content" id="cardPillContent">
                        <div class="tab-pane fade show active" id="overviewPill" role="tabpanel" aria-labelledby="overview-pill">
                            <div class="row" style="text-align: center; justify-content: center;">
                                <form [formGroup]="updateForm" (ngSubmit)="updateUser()">
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">First Name</label>
                                        <input class="form-control" [(ngModel)]="firstName" type="text" [ngModelOptions]="{standalone: true}" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">Last Name</label>
                                        <input class="form-control" [(ngModel)]="lastName" type="text" [ngModelOptions]="{standalone: true}" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">Username</label>
                                        <input class="form-control" [(ngModel)]="username" type="text" [ngModelOptions]="{standalone: true}" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">Password</label>
                                        <input class="form-control" [(ngModel)]="passwordValue" type="password" [ngModelOptions]="{standalone: true}" required>
                                    </div>
                                    <br>
                                    <button class="btn btn-outline-primary"><i class="far fa-save"></i>&nbsp;&nbsp; Save Changes</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>